<div
  id="chat"
  class="chat-container flex border border-gray-300 rounded overflow-hidden"
>
  <!-- Left Sidebar -->
  <div class="chat-sidebar w-1/3 bg-gray-100 p-4 border-r border-gray-300">
    <h1 class="text-2xl font-bold mb-4">Chat</h1>
    <input
      type="text"
      placeholder="Search Contacts"
      [(ngModel)]="searchQuery"
      class="w-full p-2 border border-gray-300 rounded mb-4 text-sm"
    />
    <ul class="list-none p-0">
      <li
        *ngFor="let contact of filteredContacts"
        (click)="selectContact(contact)"
        class="p-3 mb-3 border border-gray-300 rounded flex items-center gap-2 cursor-pointer hover:bg-gray-200"
      >
        {{ contact.name }}
      </li>
    </ul>
  </div>

  <div
    class="chat-area flex flex-col flex-grow bg-white"
    *ngIf="selectedContact"
  >
    <div class="chat-header p-5 bg-blue-600 text-white text-lg font-semibold">
      {{ selectedContact.name }}
    </div>

    <div
      class="chat-history flex-grow bg-gray-100 bg-cover bg-center p-4 overflow-y-auto"
    >
      <div *ngFor="let message of messages" class="mb-3">
        <p
          class="p-3"
          [ngClass]="{
            'bg-blue-600 text-white text-left': message.sender === 'You',
            'bg-gray-200 text-black text-right': message.sender !== 'You'
          }"
        >
          {{ message.sender }}: {{ message.text }}
        </p>
      </div>
    </div>

    <div class="chat-input p-4 flex gap-3 border-t border-gray-300 bg-white">
      <textarea
        [(ngModel)]="newMessage"
        class="flex-grow p-2 border border-gray-300 rounded resize-none h-10"
      ></textarea>

      <!-- Voice Chat Control -->
      <button
        (click)="toggleVoiceChat()"
        class="ml-3 bg-blue-500 text-white py-1 px-3 rounded hover:bg-blue-600"
      >
        {{ isVoiceChatActive ? "🔚" : "📞" }}
      </button>

      <button
        (click)="sendMessage()"
        class="send bg-green-600 text-white rounded hover:bg-green-700 transition"
      >
        Send
      </button>
    </div>
  </div>
</div>
